<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <!-- Load Leaflet from CDN-->
     <link rel="stylesheet" href="/static/css/leaflet.css" />
     <script src="/static/lib/js/leaflet.js"></script>
    <!-- Load Esri Leaflet locally, after cloning this repository -->
     <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="/static/lib/js/esri-leaflet.js"></script>
    <script src="/static/lib/js/leaflet-heat.js"></script>
    <style>
      html, body, #map {
        margin:0; padding:0;  width : 100%; height : 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
    var map = L.map('map').setView([32.61162, 120.03387], 9.1);
    map.options.minZoom=9;
    map.options.maxZoom=15;
southWest=L.latLng(31.879889952523502,119.47082519531251)
northEast=L.latLng(33.342001541915614, 120.61889648437501)
     map.setMaxBounds(L.latLngBounds(southWest, northEast));
    var icons = {
       "marker-icon": L.icon({
         iconUrl: 'https://esri.github.io/esri-leaflet/img/bus-stop-north.png',
         iconRetinaUrl: 'https://esri.github.io/esri-leaflet/img/bus-stop-north@2x.png',
         iconSize: [27, 31],
         iconAnchor: [13.5, 17.5],
         popupAnchor: [0, -11],
       })
     };


    L.esri.basemapLayer("Gray").addTo(map);

    var parks = L.esri.featureLayer({
      url: "http://223.3.57.50:6080/arcgis/rest/services/MyMapService/MapServer/12",
      pointToLayer: function (geojson, latlng) {
      return L.marker(latlng//, {
      //  icon: icons["marker-icon"]
      //})
      )
    },
      style: function () {
        return { color: "#70ca49", weight: 2 };
      }
    }).addTo(map);
    var area = L.esri.featureLayer({
      url: "http://223.3.57.50:6080/arcgis/rest/services/MyMapService/MapServer/36"

    ,
      style: function () {
        return { color: "#70ca49", weight: 2 };
      }
    });

    var road = L.esri.featureLayer({
      url: "http://223.3.57.50:6080/arcgis/rest/services/MyMapService/MapServer/41"

    ,
      style: function () {
        return { color: "#000000", weight: 1 };
      }
    }).addTo(map);

    var heat = L.heatLayer([
    [32.61162, 120.03387, 0.8], // lat, lng, intensity
    [33.01161, 120.03387, 1],
    [33.01164, 120.03387, 1],

], {radius: 105}).addTo(map);

    var popupTemplate = "<h3>{TEXTLABEL}</h3>";

    parks.bindPopup(function(e){
        console.log(e.feature.properties)
      return L.Util.template(popupTemplate, e.feature.properties)

    });
    map.on('click', function(e) {
        console.log(e.latlng);
    });


    </script>
  </body>
</html>
